@import "shared/styles/variables";

.root {
  margin: 0 auto;
  padding: 0 0 60px 0;
  max-width: 184px;

  input {
    max-width: 140px;
  }
}

.svg {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}