@import "shared/styles/variables";

.link {
  display: inline-block;
  width: 100%;
  padding: 5px;
  text-align: left;
  border-radius: $xl-border-radius;
  color: var(--main-color);

  &:hover {
    background: var(--opacity-gray);
  }
}

.size {
  font-size: 13px;
}