@import "shared/styles/variables";

.root {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $xl-border-radius;
  cursor: pointer;

  &:hover {
    background: var(--opacity-gray);
  }
  &:active {
    transform: scale(0.95);
  }
}
