@import "shared/styles/variables";

.root {
  display: flex;
  width: 100%;
  border-radius: $xl-border-radius;
}

.wrapper {
  position: relative;
  flex: 1 1 auto;
  overflow: visible;
  input {
    padding: 10px 25px 10px 15px;
    border-radius: $xl-border-radius 0 0 $xl-border-radius;
  }
}

.reset {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  stroke: var(--main-color);
}

.slot {
  width: 44px;
  border: 1px solid var(--main-color);
  border-left: none;
  border-radius: 0  $xl-border-radius $xl-border-radius 0;
  overflow: hidden;

  &>* {
    border-radius: 0;
    background: var(--input-background);
  }
}