@import "shared/styles/breakpoints";

.root {
  display: grid;
  gap: 20px 40px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: max-content;

  @media (max-width: $m-viewport) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (max-width: $s-viewport) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: $xs-viewport) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
