@import "shared/styles/variables";

.root {
  display: flex;
  width: 100%;
  border-radius: $xl-border-radius;
}

.input {
  min-height: 45px;
  padding: 10px 5px 10px 15px;
  display: block;
  flex: 1 1 auto;
  border: 1px solid var(--main-color);
  border-radius: $xl-border-radius 0 0 $xl-border-radius;
  background: var(--input-background);

  &:focus {
    border-color: var(--input-focus-border);
    outline: 0;
    border-radius: $xl-border-radius;
    box-shadow: var(--input--focus-box-shadow);
    z-index: 3;
  }
}

.search {
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
  border-left: none;
  border-radius: 0  $xl-border-radius $xl-border-radius 0;
  background: var(--input-background);
  cursor: pointer;

  &:hover {
   background: var(--opacity-gray);
  }
  &:active svg {
    transform: scale(.95);
  }
}